<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalom.kalapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="26"
        android:maxSdkVersion="26" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="KalApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Login_Activity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".MainPage">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".AnketActivity">
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:permission="com.google.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>



    </application>



</manifest>